
.date-label {
  position: relative;
}


.date-label__month, .date-label__year {  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #1F2041;
}

.date-lable__list {
  position: absolute;
}
