
.calendar__date-month, .calendar__date-year {  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #1F2041;
}
