/*@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: url('./MaterialIcons-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}*/