.textButton {
  border: 0px;
  background-color: white;
  height: 15px;
  color: #BC9CFF;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}